@model SurveyApp.Models.Survey

<h2>Raport wyników: @Model.Title</h2>
<br />

@foreach (var pytanie in Model.Questions)
{
    <div class="mb-5 border p-3">
        <h4>Pytanie: @pytanie.Text</h4>
        
        <canvas id="wykres_@pytanie.Id" width="400" height="150"></canvas>
    </div>
}

<a href="/Survey/Index" class="btn btn-secondary">Powrot do listy ankiet</a>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    @foreach (var pytanie in Model.Questions)
    {
        <text>
            var etykiety_@pytanie.Id = [];
            var glosy_@pytanie.Id = [];

            @foreach (var op in pytanie.Options)
            {
                @:etykiety_@pytanie.Id .push('@Html.Raw(op.Text)');
                @:glosy_@pytanie.Id .push(@op.Votes.Count);
            }

            var plotno_@pytanie.Id = document.getElementById('wykres_@pytanie.Id');
            
            new Chart(plotno_@pytanie.Id, {
                type: 'bar',
                data: {
                    labels: etykiety_@pytanie.Id,
                    datasets: [{
                        label: 'Liczba głosów',
                        data: glosy_@pytanie.Id,
                        backgroundColor: 'green'
                    }]
                },
                options: { scales: { y: { beginAtZero: true, ticks: { stepSize: 1 } } } }
            });
        </text>
    }
</script>